// colors
$ColorOrange : #FFCE4E;
$ColorWhite :#F5FBF2;
$ColorBlack :#16091B;

// fonts
$FontsFamilyWorkSans : 'Work Sans';
$FontsFamilyOxanium : 'Oxanium';

$FontsOption-Header: 500 18rem/21rem;
$FontsOption-Button: 600 18rem/21rem;
$FontsOption-SectionHero-Title: 700 85rem/130rem 'Oxanium';